pipeline/PLZ_BlobNameExtraction_POC_usingSQL.json
{
	"name": "PLZ_BlobNameExtraction_POC_usingSQL",
	"properties": {
		"activities": [
			{
				"name": "TriggerTransferDataToBlob",
				"description": "Transfer data from VM edge machine to Blob storage",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "PLZ_vm_SRC_BINARY_POC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "PLZ_st_SINK_BINARY_POC",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get_BlobFilenames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "TriggerTransferDataToBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "PLZ_st_BINARY_DATASET_POC",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach_BlobFilename",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_BlobFilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_BlobFilenames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored_procedure_InsertBlobName",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertBlobFileDetails]",
								"storedProcedureParameters": {
									"BlobFileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PLZ_sqldb_POC",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}